.product-list {
  /* background: red; */
}
.product-list--title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list--title > h4 {
  color: rgb(17, 14, 14);
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 0.5rem 0;
}
.btn {
    display: flex; 
    justify-content: center; 
    width: 15em;
    block-size: 50px;
    border-radius: 2rem; 
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #A40000;
    color: #ffffff;
    outline: 0px
}
