.orderPageContainer {
    margin-top: 2rem
}
.navLinkContainer {
    padding-top: 3rem;
    margin-left: 30px;
    color:#A40000
}
.navLinkStyles {
    text-decoration: none;   
}
.disButtonStyles {
    block-size: 2rem;
    color: darkgrey
}
.placeOrderButtonContainer {
    display: flex;
    justify-content: flex-end;
}
.placeOrderButtonStyle {
    margin-top: 1rem;
    margin-right: 40px;
    width: 8rem;
    block-size: 3em;
    border-radius: 2rem;
    background-color: lightgrey;
    color: darkgrey   
}
