.disOrdersContainer {
    margin-top: 2rem; 
}
.titleContainer {
    color:#A40000;
    margin-left: 20px
}
.disTableContainer {
    /* display: flex; */
    margin-top: 20px
}
.disApproveButtonContainer {
    display: flex;
    justify-content: flex-end;
}
.disApproveButtonStyles {
    margin-top: 1rem;
    margin-right: 40px;
    width: 8rem;
    block-size: 3em;
    border-radius: 2rem;
    color: darkgrey;
    background-color: lightgrey     
}
