.headerContainer {
    display: flex;
    border: 2px solid lightgray;
    justify-content: flex-start;
    align-Items: center;
    list-style: none;
    background-color: #A40000;
    height: 100px;
    margin: 20px
    /* border-radius: 1rem; */
}
.classicLogoStyles {
    width: 95px;
    height:95px;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px
}
.navLinkStyles {
    padding: 1rem;
    text-decoration: none;   
}