.clientLoginFormContainer {
    display: flex;
    justify-content: center;
}
.ClientInputFieldStyles {
    display: flex;
    border-radius: 2rem;
    block-size: 3em;
    text-align: center;
    outline: 0px
}
.loginButtonStyles {
    display: flex; 
    justify-content: center; 
    width: 15em;
    block-size: 50px;
    border-radius: 2rem; 
    margin-left: 50px;
    margin-top: 40px;
    background-color: #A40000;
    color: #ffffff;
    outline: 0px
}
.loginButtonStyles:hover{
    background-color: maroon;
    color: darkgrey;
    outline: 0px
}
.loginButtonStyles:active{
    background-color: maroon;
    color: darkgrey;
    outline: 0px
}