.clientLoginContainer {
  /* background: linear-gradient(to right, #ee0979, #ff6a00); */
  width: 100%;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px
}
.logo {
  width: 20%;
  height: 30%;
  margin-bottom: 40px;
  border-radius: 20px
}
